
*{
    box-sizing: border-box;
}

body{
    font-family: cursive;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    overflow: hidden;
    margin: 0;
}