
*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e6;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


div{
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    font-size: 19px;
}

input{
    width: 60px;
    padding: 6px;
    font-size: 19px;
    border:none;
    text-align: center;
    background-color: #40ade5;
}

input:focus{
    outline: none;
}