
*{
    box-sizing: border-box;
}

body{
    background-color: #e55;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

.container{
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .8);
    width: 600px;
    overflow: hidden;

}

.header{
    padding: 5rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;

}

ul{
    list-style-type: none;
    padding: 0;

}

ul li{
    font-size: 2rem;
    margin: 1rem;
}

ul li label{
    cursor: crosshair;
}

button{
    background-color: #e0e;
    color: #fff;
    display: block;
    width: 100%;
    border: none;
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem;
    
    cursor: pointer;
}

button:hover{

    background-color: #40ade5;
    transform: translateY(120deg);
    transition: .5s linear;
    color: #e55;
}
button:focus{
    outline: 0;
    background-color: #40ad;
}