* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: cursive;
}

img {
  max-width: 100%;
}

.card {
  border-radius: 3em;
  overflow: hidden;
  width: 400px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-header {
  height: 190px;
}

.card-header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  background-color: #fff;
  padding: 30px;
}

.card-title {
  margin: 0;
  height: 30px;
}

.card-excerpt {
  color: #e55;
  margin: 10px 0 20px;
}

.authour {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.authour-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.authour-info small {
  color: #40ade4;
  margin-top: 5px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #ededf1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
    animation: bgPure 1s linear infinite;
  background-size: 200% 100%;
}

.animated-bg-text {
    border-radius:50px ;
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 10px;
}


@keyframes bgPure {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}